.table-container {
  margin: 20px 0;
  overflow: scroll;
  width: 600px; 
  /* before */ 
justify-content: end;

/* after */
justify-content: flex-end;
  height: 300px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.destination-image {
  width: 50px;
  height: 50px;
}

button {
  background-color: #4CAF50; 
  color: white; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
}
