.card-holder {
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    justify-content:baseline ;
    text-align: center;
  }
  
  .img-holder {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
  }
  
  .title {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
  }
  
  .description {
    font-size: 14px;
  }
  
  .EditBut {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .edit {
    display: block;
    padding: 5px 10px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-field {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .save-button,
  .cancel-button {
    padding: 5px 10px;
    margin-left: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #4caf50;
    color: #fff;
  }
  
  .cancel-button {
    background-color: #f44336;
    color: #fff;
  }
  
  /* Add the following CSS to display the cards in a row */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .card-image {
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
